@font-face
  font-family: 'Helvetica'
  src: asset-url('Helvetica.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Helvetica'
  src: asset-url('HelveticaBold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Anonymous'
  src: asset-url('Anonymous.ttf') format('truetype')
  font-weight: normal
  font-style: normal
